# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# PyCharm / IDE
.idea/

# Reports (generated test output, never commit)
reports/
allure-report/
allure-results/
*.mp4

# Logs & temp
*.log
.env
node_modules/